<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Northern Herpetoculture Articles</title>
    <link rel="stylesheet" href="/static/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/static/img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="index.hbs">Main Page</a>
                <a href="all-articles.hbs">All Articles</a>
                <form>
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                <a href="create.hbs">Create New Article</a>
            </nav>
        </aside>
        <div id="container">
            <header>
                <a href="login.hbs">Login</a>
                <a href="register.hbs">Register</a>
                <span>Welcome, Bob!</span>
                <a href="#">[Logout]</a>
            </header>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                <section id="featured">
                    <h2>Latests articles</h2>
                    {{#each articles}}
                    <article>
                        <h3>{{title}}</h3>
                        <p>
                            {{article}}&hellip;
                        </p>
                        <div class="controls">
                            <a href="article.hbs">Read more</a>
                        </div>
                    </article>
					<article>
                        <h3>Telescope</h3>
                        <p>
                            A telescope is an optical instrument that aids in the observation of remote objects by collecting electromagnetic radiation (such as visible light). The first known practical telescopes were invented in the Netherlands at the beginning of the 17th century, by using glass lenses. They found use in both terrestrial applications and astronomy,&hellip;
                        </p>
                        <div class="controls">
                            <a href="article.hbs">Read more</a>
                        </div>
                    </article>
					<article>
                        <h3>Planet</h3>
                        <p>
                            A planet is an astronomical body orbiting a star or stellar remnant that is massive enough to be rounded by its own gravity, is not massive enough to cause thermonuclear fusion, and has cleared its neighbouring region of planetesimals,&hellip;
                        </p>
                        <div class="controls">
                            <a href="article.hbs">Read more</a>
                        </div>
                    </article>
                </section>
            </main>
            <footer>
                KingUni Wiki &copy; 2020
            </footer>
        </div>
    </div>
</body>

</html>